<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="ProspettoMapper">
    <select id="countCampiGiacenza" parameterType="it.exolab.prospetto.dto.CriterioRicercaDTO" resultType="it.exolab.prospetto.common.CountRow">

            SELECT *
            FROM
                <include refid="countRimanenza"/>
                <include refid="countIntrodotto"/>
                <include refid="countEccedenze1"/>
                <include refid="countEccedenze2"/>
                <include refid="countEccedenze3"/>
                <include refid="countEccedenze4"/>
                <include refid="countErogato"/>
                <include refid="countCali1"/>
                <include refid="countCali2"/>
                <include refid="countCali3"/>
                <include refid="countCali4"/>
                <include refid="countRimanenzaContabile"/>

    </select>

    <select id="selectCampiGiacenza" parameterType="it.exolab.prospetto.dto.CriterioRicercaDTO" resultType="it.exolab.prospetto.common.ResultColumn">
            SELECT *
            FROM
        <if test="countRow.countRimanenza>0">
            <include refid="getRimanenza"/>
        </if>
        <if test="countRow.countIntrodotto>0">
            <include refid="getIntrodotto"/>
        </if>
        <if test="countRow.countEccedenze1>0">
            <include refid="getEccedenze1"/>
        </if>
        <if test="countRow.countEccedenze2>0">
            <include refid="getEccedenze2"/>
        </if>
        <if test="countRow.countEccedenze3>0">
            <include refid="getEccedenze3"/>
        </if>
        <if test="countRow.countEccedenze4>0">
            <include refid="getEccedenze4"/>
        </if>
        <if test="countRow.countErogato>0">
            <include refid="getErogato"/>
        </if>
        <if test="countRow.countCali1>0">
            <include refid="getCaliAnnotati1"/>
        </if>
        <if test="countRow.countCali2>0">
            <include refid="getCaliAnnotati2"/>
        </if>
        <if test="countRow.countCali3>0">
            <include refid="getCaliAnnotati3"/>
        </if>
        <if test="countRow.countCali4>0">
            <include refid="getCaliAnnotati4"/>
        </if>
        <if test="countRow.countRimanenzaContabile>0">
            <include refid="getRimanenzaContabile"/>
        </if>
    </select>

    <sql id="countRimanenza">
        select count(qta_lt_carbur) as countRimanenza
        from AIDA.wumws_giacenze_cl mov
        where mov.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
          and mov.data_riferimento =
              (SELECT MAX(TRUNC(t.data_riferimento))
               from AIDA.wumws_giacenze_cl t
               where t.cod_ditta = mov.cod_ditta
                 AND t.ID_GIACENZA = mov.ID_GIACENZA
                 AND TRUNC(t.DATA_RIFERIMENTO) <![CDATA[ <= ]]>  TO_DATE(#{dataRiferimento, javaType=String, jdbcType=VARCHAR},'dd/mm/yyyy'))
          AND mov.COD_FISC = 'CALCOLATA'
          and mov.ID_GIACENZA = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}) RIMANZENZA,
    </sql>

    <sql id="countIntrodotto">
        (select   count(qta_lt_carbur) as countIntrodotto
         FROM AIDA.wumws_carico_cl u
         WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
           AND u.id_giacenza = #{giacenzaa.idGiacenza, javaType=String, jdbcType=VARCHAR}
           AND u.ID_FLUSSO IN
               (SELECT S.ID_FLUSSO
                FROM AIDA.WUMWS_GUIDA_CL S
                WHERE S.COD_DITTA = u.cod_ditta
                  AND S.CF_DICHIARANTE = #{codFiscale, javaType=String, jdbcType=VARCHAR}
                  and s.TIPO_ESITO='P'
                  and exists (select 1 from wumws_giornalieri_cl x
                              where x.cod_ditta=s.cod_ditta
                                and x.id_flusso=s.id_flusso
                                and x.num_mov_tot=1))
           AND u.stato_mov NOT IN ('9', '1')
           AND u.data_riferimento between
             to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
             and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
           AND u.tipo_rich = 'I'
           AND u.tipo_carico in ('2','4','9')
        )  introdotto,
    </sql>

    <sql id="countEccedenze1">
        (select count(*) as countEccedenze1
         FROM AIDA.wumws_carico_cl u
         WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
           AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
           AND u.ID_FLUSSO IN (
             SELECT S.ID_FLUSSO
             FROM AIDA.WUMWS_GUIDA_CL S
             WHERE S.COD_DITTA = u.cod_ditta
               AND S.CF_DICHIARANTE =#{codFiscale, javaType=String, jdbcType=VARCHAR}
               and s.TIPO_ESITO='P'
               and exists (select 1 from wumws_giornalieri_cl x
                           where x.cod_ditta=s.cod_ditta
                             and x.id_flusso=s.id_flusso
                             and x.num_mov_tot=1)
         )
           AND u.stato_mov NOT IN ('9', '1')
           AND u.data_riferimento between
             to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
             and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
           AND u.tipo_rich = 'I'
           AND u.tipo_carico = '3'
        ) eccedenza1,
    </sql>

    <sql id="countEccedenze2">
        (select count(*) as countEccedenze2
         FROM AIDA.wumws_carico_cl u
         WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
           AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
           AND u.ID_FLUSSO IN (
             SELECT S.ID_FLUSSO
             FROM AIDA.WUMWS_GUIDA_CL S
             WHERE S.COD_DITTA = u.cod_ditta
               AND S.CF_DICHIARANTE = #{codFiscale, javaType=String, jdbcType=VARCHAR}
               and s.TIPO_ESITO='P'
               and exists (select 1 from wumws_giornalieri_cl x
                           where x.cod_ditta=s.cod_ditta
                             and x.id_flusso=s.id_flusso
                             and x.num_mov_tot=1)
         )
           AND u.stato_mov NOT IN ('9', '1')
           AND u.data_riferimento between
             to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
             and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
           AND u.tipo_rich = 'I'
           AND u.tipo_carico = '1') eccedenza2,
    </sql>

    <sql id="countEccedenze3">
        (select count(*) as countEccedenze3
         FROM AIDA.wumws_carico_cl u
         WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
           AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
           AND u.ID_FLUSSO IN (
             SELECT S.ID_FLUSSO
             FROM AIDA.WUMWS_GUIDA_CL S
             WHERE S.COD_DITTA = u.cod_ditta
               AND S.CF_DICHIARANTE = 'cfDichiarante'
               and s.TIPO_ESITO='P')
           and exists
             (select 1
              from wumws_giornalieri_cl x
              where x.cod_ditta = u.cod_ditta
                and x.data_riferimento >= u.data_riferimento
                and x.data_riferimento between to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy') and
                  to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
                and x.num_mov_tot = 1
                and x.id_flusso IN (SELECT y.ID_FLUSSO
                                    FROM AIDA.WUMWS_GUIDA_CL y
                                    WHERE y.COD_DITTA = u.cod_ditta
                                      AND y.CF_DICHIARANTE  <![CDATA[ <> ]]>  #{piva, javaType=String, jdbcType=VARCHAR}
                                      and y.TIPO_ESITO = 'P'))
           AND u.stato_mov NOT IN ('9', '1')
           AND u.data_riferimento between
             to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
             and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
           AND u.tipo_rich = 'I'
           AND u.tipo_carico = '0')eccedenza3,
    </sql>

    <sql id="countEccedenze4">
        (select count(*) as countEccedenze4
         FROM AIDA.wumws_carico_cl u
         WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
           AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
           AND u.ID_FLUSSO IN (
             SELECT S.ID_FLUSSO
             FROM AIDA.WUMWS_GUIDA_CL S
             WHERE S.COD_DITTA = u.cod_ditta
               AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
               and s.TIPO_ESITO='P'
               and exists (select 1 from wumws_giornalieri_cl x
                           where x.cod_ditta=s.cod_ditta
                             and x.id_flusso=s.id_flusso
                             and x.num_mov_tot=1)  )
           AND u.stato_mov NOT IN ('9', '1')
           AND u.data_riferimento between
             to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
             and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
           AND u.tipo_rich = 'I'
           AND u.tipo_carico = '5')eccedenza4,
    </sql>

    <sql id="countErogato">
        (select count(*) as countErogato
         FROM AIDA.wumws_scarico_cl u
         WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
           AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
           AND u.ID_FLUSSO IN
               (SELECT S.ID_FLUSSO
                FROM AIDA.WUMWS_GUIDA_CL S
                WHERE S.COD_DITTA = u.cod_ditta
                  AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
                  and s.TIPO_ESITO='P'
                  and exists (select 1 from wumws_giornalieri_cl x
                              where x.cod_ditta=s.cod_ditta
                                and x.id_flusso=s.id_flusso
                                and x.num_mov_tot=1)
               )
           AND u.stato_mov NOT IN ('9', '1')
           AND u.data_riferimento between
             to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
             and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
           AND u.tipo_rich = 'I'
           AND u.tipo_scarico in ('1','2','3','6','9'))erogato,
    </sql>

    <sql id="countCali1">
        (select count(*) as countCali1
         FROM AIDA.wumws_scarico_cl u
         WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
           AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
           AND u.ID_FLUSSO IN (
             SELECT S.ID_FLUSSO
             FROM AIDA.WUMWS_GUIDA_CL S
             WHERE S.COD_DITTA = u.cod_ditta
               AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
               and s.TIPO_ESITO='P'
               and exists (select 1 from wumws_giornalieri_cl x
                           where x.cod_ditta=s.cod_ditta
                             and x.id_flusso=s.id_flusso
                             and x.num_mov_tot=1))
           AND u.stato_mov NOT IN ('9', '1')
           AND u.data_riferimento between
             to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
             and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
           AND u.tipo_rich = 'I'
           AND u.tipo_scarico = '4'
        )cali1,
    </sql>

    <sql id="countCali2">
        (select count(*) as countCali2
         FROM AIDA.wumws_scarico_cl u
         WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
           AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
           AND u.ID_FLUSSO IN (
             SELECT S.ID_FLUSSO
             FROM AIDA.WUMWS_GUIDA_CL S
             WHERE S.COD_DITTA = u.cod_ditta
               AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
               and s.TIPO_ESITO='P'
               and exists (select 1 from wumws_giornalieri_cl x
                           where x.cod_ditta=s.cod_ditta
                             and x.id_flusso=s.id_flusso
                             and x.num_mov_tot=1)
         )
           AND u.stato_mov NOT IN ('9', '1')
           AND u.data_riferimento between
             to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
             and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
           AND u.tipo_rich = 'I'
           AND u.tipo_scarico = '5'
        )cali2,
    </sql>

    <sql id="countCali3">
        (select count(*) as countCali3
         FROM AIDA.WUMWS_scarico_cl u
         WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
           AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
           AND u.ID_FLUSSO IN (
             SELECT S.ID_FLUSSO
             FROM AIDA.WUMWS_GUIDA_CL S
             WHERE S.COD_DITTA = u.cod_ditta
               AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
               and s.TIPO_ESITO='P')
           and exists
             (select 1
              from wumws_giornalieri_cl x
              where x.cod_ditta = u.cod_ditta
                and x.data_riferimento >= u.data_riferimento
                and x.data_riferimento between to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy') and
                  to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
                and x.num_mov_tot = 1
                and x.id_flusso IN (SELECT y.ID_FLUSSO
                                    FROM AIDA.WUMWS_GUIDA_CL y
                                    WHERE y.COD_DITTA = u.cod_ditta
                                      AND y.CF_DICHIARANTE  <![CDATA[ <> ]]>  #{piva, javaType=String, jdbcType=VARCHAR}
                                      and y.TIPO_ESITO = 'P'))
           AND u.stato_mov NOT IN ('9', '1')
           AND u.data_riferimento between
             to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
             and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
           AND u.tipo_rich = 'I'
           AND u.tipo_scarico = '0'
        )cali3,
    </sql>

    <sql id="countCali4">

        (select count(*) as countCali4
         FROM AIDA.WUMWS_scarico_cl u
         WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
           AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
           AND u.ID_FLUSSO IN (
             SELECT S.ID_FLUSSO
             FROM AIDA.WUMWS_GUIDA_CL S
             WHERE S.COD_DITTA = u.cod_ditta
               AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
               and s.TIPO_ESITO='P'
               and exists (select 1 from wumws_giornalieri_cl x
                           where x.cod_ditta=s.cod_ditta
                             and x.id_flusso=s.id_flusso
                             and x.num_mov_tot=1)
         )
           AND u.stato_mov NOT IN ('9', '1')
           AND u.data_riferimento between
             to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
             and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
           AND u.tipo_rich = 'I'
           AND u.tipo_scarico = '7'
        )cali4,

    </sql>

    <sql id="countRimanenzaContabile">

        (select count(*) as countRimanenzaContabile
         from AIDA.WUMWS_giacenze_cl mov
         where mov.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
           and mov.data_riferimento =
               (SELECT MAX(TRUNC(t.data_riferimento))
                from AIDA.WUMWS_giacenze_cl t
                where t.cod_ditta = mov.cod_ditta
                  AND t.ID_GIACENZA = mov.ID_GIACENZA
                  AND TRUNC(t.DATA_RIFERIMENTO) between to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
                    and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy'))
           AND COD_FISC = 'CALCOLATA'
           and mov.ID_GIACENZA = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
           AND ID_FLUSSO IN (SELECT S.ID_FLUSSO
                             FROM AIDA.WUMWS_GUIDA_CL S
                             WHERE S.COD_DITTA = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
                               AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
                               and s.TIPO_ESITO='P'
                               and exists (select 1 from wumws_giornalieri_cl x
                                           where x.cod_ditta=s.cod_ditta
                                             and x.id_flusso=s.id_flusso
                                             and x.num_mov_tot=1)
         )
        )rimanenzaContabile

    </sql>

    <sql id="getRimanenza">
        (select 	decode((mov.qta_lt_carbur), null, 0, (mov.qta_lt_carbur)) as rimanenza
	    from AIDA.wumws_giacenze_cl mov
	    where mov.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
        and mov.data_riferimento =
        (SELECT MAX(TRUNC(t.data_riferimento))
        from AIDA.wumws_giacenze_cl t
        where t.cod_ditta = mov.cod_ditta
        AND t.ID_GIACENZA = mov.ID_GIACENZA
        AND TRUNC(t.DATA_RIFERIMENTO) <![CDATA[ <= ]]> TO_DATE(#{dataRiferimento, javaType=String, jdbcType=VARCHAR},'dd/mm/yyyy'))
        AND mov.COD_FISC = 'CALCOLATA'
        and mov.ID_GIACENZA = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
        ) rimanenza
    </sql>

    <sql id="getIntrodotto">

        <if test="firstRow!=it.exolab.prospetto.enums.Row.INTRODOTTO">
            ,
        </if>

            <include refid="condizioniSelect"/> AS introdotto
        FROM AIDA.wumws_carico_cl u
        WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
        AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
        AND u.ID_FLUSSO IN
        (SELECT S.ID_FLUSSO
        FROM AIDA.WUMWS_GUIDA_CL S
        WHERE S.COD_DITTA = u.cod_ditta
        AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
        )
        AND u.stato_mov NOT IN ('9', '1')
        AND u.data_riferimento between
        to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        AND u.tipo_rich = 'I'
        AND u.tipo_carico in ('2','4','9')
        ) introdotto

    </sql>

    <sql id="getEccedenze1">

            <if test="firstRow!=it.exolab.prospetto.enums.Row.ECCEDENZE_ANNOTATE_1">
                ,
            </if>

            <include refid="condizioniSelect"/> AS eccedenzeAnnotate1
        FROM AIDA.wumws_carico_cl u
        WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
        AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
        AND u.ID_FLUSSO IN (
        SELECT S.ID_FLUSSO
        FROM AIDA.WUMWS_GUIDA_CL S
        WHERE S.COD_DITTA = u.cod_ditta
        AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
        )
        AND u.stato_mov NOT IN ('9', '1')
        AND u.data_riferimento between
        to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        AND u.tipo_rich = 'I'
        AND u.tipo_carico = '3'
        ) eccedenze1

    </sql>

    <sql id="getEccedenze2">

            <if test="firstRow!=it.exolab.prospetto.enums.Row.ECCEDENZE_ANNOTATE_2">
                ,
            </if>

            <include refid="condizioniSelect"/> AS eccedenzeAnnotate2
        FROM AIDA.wumws_carico_cl u
        WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
        AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
        AND u.ID_FLUSSO IN (
        SELECT S.ID_FLUSSO
        FROM AIDA.WUMWS_GUIDA_CL S
        WHERE S.COD_DITTA = u.cod_ditta
        AND S.CF_DICHIARANTE = #{codFiscale, javaType=String, jdbcType=VARCHAR}
        )
        AND u.stato_mov NOT IN ('9', '1')
        AND u.data_riferimento between
        to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        AND u.tipo_rich = 'I'
        AND u.tipo_carico = '1'
        ) eccedenze2

    </sql>

    <sql id="getEccedenze3">

            <if test="firstRow!=it.exolab.prospetto.enums.Row.ECCEDENZE_ANNOTATE_3">
                ,
            </if>

            <include refid="condizioniSelect"/> AS eccedenzeAnnotate3
        FROM AIDA.wumws_carico_cl u
        WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
        AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
        AND u.ID_FLUSSO IN (
        SELECT S.ID_FLUSSO
        FROM AIDA.WUMWS_GUIDA_CL S
        WHERE S.COD_DITTA = u.cod_ditta
        AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
        and s.TIPO_ESITO='P')
        and exists
        (select 1
        from wumws_giornalieri_cl x
        where x.cod_ditta = u.cod_ditta
        and x.data_riferimento >= u.data_riferimento
        and x.data_riferimento between to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy') and
        to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        and x.num_mov_tot = 1
        and x.id_flusso IN (SELECT y.ID_FLUSSO
        FROM AIDA.WUMWS_GUIDA_CL y
        WHERE y.COD_DITTA = u.cod_ditta
        AND y.CF_DICHIARANTE <![CDATA[ <> ]]> #{piva, javaType=String, jdbcType=VARCHAR}
        and y.TIPO_ESITO = 'P'))
        AND u.stato_mov NOT IN ('9', '1')
        AND u.data_riferimento between
        to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        AND u.tipo_rich = 'I'
        AND u.tipo_carico = '0'
        ) eccedenze3

    </sql>

    <sql id="getEccedenze4">

        <if test="firstRow!=it.exolab.prospetto.enums.Row.ECCEDENZE_ANNOTATE_4">
            ,
        </if>

            <include refid="condizioniSelect"/> AS eccedenzeAnnotate4
        FROM AIDA.wumws_carico_cl u
        WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
        AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
        AND u.ID_FLUSSO IN (
        SELECT S.ID_FLUSSO
        FROM AIDA.WUMWS_GUIDA_CL S
        WHERE S.COD_DITTA = u.cod_ditta
        AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
        )
        AND u.stato_mov NOT IN ('9', '1')
        AND u.data_riferimento between
        to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        AND u.tipo_rich = 'I'
        AND u.tipo_carico = '5'
        )eccedenze4

    </sql>

    <sql id="getErogato">

            <if test="firstRow!=it.exolab.prospetto.enums.Row.EROGATO">
                ,
            </if>

            <include refid="condizioniSelect"/> AS erogato
        FROM AIDA.wumws_scarico_cl u
        WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
        AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
        AND u.ID_FLUSSO IN
        (SELECT S.ID_FLUSSO
        FROM AIDA.WUMWS_GUIDA_CL S
        WHERE S.COD_DITTA = u.cod_ditta
        AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
        )
        AND u.stato_mov NOT IN ('9', '1')
        AND u.data_riferimento between
        to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        AND u.tipo_rich = 'I'
        AND u.tipo_scarico in ('1','2','3','6','9')
        )errogato

    </sql>

    <sql id="getCaliAnnotati1">

            <if test="firstRow!=it.exolab.prospetto.enums.Row.CALI_ANNOTATI_1">
                ,
            </if>

             <include refid="condizioniSelect"/> AS caliAnnotati1
        FROM AIDA.wumws_scarico_cl u
        WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
        AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
        AND u.ID_FLUSSO IN (
        SELECT S.ID_FLUSSO
        FROM AIDA.WUMWS_GUIDA_CL S
        WHERE S.COD_DITTA = u.cod_ditta
        AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
        )
        AND u.stato_mov NOT IN ('9', '1')
        AND u.data_riferimento between
        to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        AND u.tipo_rich = 'I'
        AND u.tipo_scarico = '4'
        )cali1

    </sql>

    <sql id="getCaliAnnotati2">

            <if test="firstRow!=it.exolab.prospetto.enums.Row.CALI_ANNOTATI_2">
                ,
            </if>

            <include refid="condizioniSelect"/> AS caliAnnotati2
        FROM AIDA.wumws_scarico_cl u
        WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
        AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
        AND u.ID_FLUSSO IN (
        SELECT S.ID_FLUSSO
        FROM AIDA.WUMWS_GUIDA_CL S
        WHERE S.COD_DITTA = u.cod_ditta
        AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
        )
        AND u.stato_mov NOT IN ('9', '1')
        AND u.data_riferimento between
        to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        AND u.tipo_rich = 'I'
        AND u.tipo_scarico = '5'
        )cali2
    </sql>

    <sql id="getCaliAnnotati3">

            <if test="firstRow!=it.exolab.prospetto.enums.Row.CALI_ANNOTATI_3">
                ,
            </if>

            <include refid="condizioniSelect"/> AS caliAnnotati3
        FROM AIDA.WUMWS_scarico_cl u
		WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
        AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
        AND u.ID_FLUSSO IN (
        SELECT S.ID_FLUSSO
        FROM AIDA.WUMWS_GUIDA_CL S
        WHERE S.COD_DITTA = u.cod_ditta
        AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
        and s.TIPO_ESITO='P')
        and exists
        (select 1
        from wumws_giornalieri_cl x
        where x.cod_ditta = u.cod_ditta
        and x.data_riferimento >= u.data_riferimento
        and x.data_riferimento between to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy') and
        to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        and x.num_mov_tot = 1
        and x.id_flusso IN (SELECT y.ID_FLUSSO
        FROM AIDA.WUMWS_GUIDA_CL y
        WHERE y.COD_DITTA = u.cod_ditta
        AND y.CF_DICHIARANTE <![CDATA[ <> ]]> #{piva, javaType=String, jdbcType=VARCHAR}
        and y.TIPO_ESITO = 'P'))
        AND u.stato_mov NOT IN ('9', '1')
        AND u.data_riferimento between
        to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        AND u.tipo_rich = 'I'
        AND u.tipo_scarico = '0'
        )cali3

    </sql>

    <sql id="getCaliAnnotati4">

            <if test="firstRow!=it.exolab.prospetto.enums.Row.CALI_ANNOTATI_4">
                ,
            </if>

            <include refid="condizioniSelect"/> AS caliAnnotati4
        FROM AIDA.WUMWS_scarico_cl u
        WHERE u.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
        AND u.id_giacenza = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
        AND u.ID_FLUSSO IN (
        SELECT S.ID_FLUSSO
        FROM AIDA.WUMWS_GUIDA_CL S
        WHERE S.COD_DITTA = u.cod_ditta
        AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
        )
        AND u.stato_mov NOT IN ('9', '1')
        AND u.data_riferimento between
        to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        and to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        AND u.tipo_rich = 'I'
        AND u.tipo_scarico = '7'
        ) cali4

    </sql>
    
    <sql id="getRimanenzaContabile">

        <if test="firstRow!=it.exolab.prospetto.enums.Row.RIMANENZA_CONTABILE">
            ,
        </if>

        <if test='giacenza.tipoGiacenza.equals("O")'>
            (
            SELECT decode((mov.qta_kg), null, 0, (mov.qta_kg)) AS rimanenzaContabile
        </if>
        <if test='!giacenza.tipoGiacenza.equals("O")'>
            (
            SELECT decode((mov.qta_lt_carbur), null, 0, (mov.qta_lt_carbur)) AS rimanenzaContabile
        </if>
        FROM AIDA.WUMWS_giacenze_cl mov
        WHERE mov.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
        AND mov.data_riferimento =
        (SELECT MAX(TRUNC(t.data_riferimento))
        FROM AIDA.WUMWS_giacenze_cl t
        WHERE t.cod_ditta = mov.cod_ditta
        AND t.ID_GIACENZA = mov.ID_GIACENZA
        AND TRUNC(t.DATA_RIFERIMENTO) BETWEEN to_date(#{dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
        AND to_date(#{dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy'))
        AND COD_FISC = 'CALCOLATA'
        AND mov.ID_GIACENZA = #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
        AND ID_FLUSSO IN (SELECT S.ID_FLUSSO
        FROM AIDA.WUMWS_GUIDA_CL S
        WHERE S.COD_DITTA = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
        AND S.CF_DICHIARANTE = #{piva, javaType=String, jdbcType=VARCHAR}
        AND s.TIPO_ESITO='P'
        AND exists (SELECT 1 FROM wumws_giornalieri_cl x
        WHERE x.cod_ditta=s.cod_ditta
        AND x.id_flusso=s.id_flusso
        AND x.num_mov_tot=1)
        )
        )rimanenzaContabile

    </sql>

    <sql id="condizioniSelect">

            <if test='giacenza.tipoGiacenza.equals("O")'>
                (
                SELECT nvl(SUM(u.qta_kg),0)
            </if>
            <if test='!giacenza.tipoGiacenza.equals("O")'>
                (
                SELECT nvl(SUM(u.qta_lt_carbur),0)
            </if>

    </sql>

    <select id="getGiacenze" >

        select
        WURT1_COD_ACC AS codiceAccisa,
        WURT1_GIACENZA AS giacenza,
        WURT1_TIPO_GIACENZA as tipoGiacenza,
        WURT1_DESCR_PROD as descTipoGiacenza,
        WURT1_DT_GIAC_INIZ as dataGiacenzaIniziale
        from WURT1_GIACENZE_CL
        where WURT1_COD_ACC = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
        and WURT1_DT_GIAC_INIZ is not null
        order by WURT1_TIPO_GIACENZA
    </select>

    <select id="getDataRimanenza" parameterType="it.exolab.prospetto.dto.CriterioRicerca" resultType="date">

        <if test="tipoGiacenzaRegistro.equals('O') || tipoGiacenzaRegistro.equals('G')">
            select MIN(wurt1_dt_giac_iniz)   as   data_giac_iniz
        </if>
        <if test="!tipoGiacenzaRegistro.equals('O') and !tipoGiacenzaRegistro.equals('G')">
            select wurt1_dt_giac_iniz   as   data_giac_iniz
        </if>
        from WURT1_GIACENZE_CL
        where wurt1_cod_acc = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
          and  wurt1_giacenza =  #{idGiacenzaRegistro, javaType=String, jdbcType=VARCHAR}
          and wurt1_dt_giac_iniz <![CDATA[ <= ]]> SYSDATE

    </select>

</mapper>