<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProspettoMapper">
	<select id="calcolaProspetto" parameterType="it.exolab.prospetto.dto.CriterioRicerca" resultType="it.exolab.prospetto.common.ResultColumn">

			   <foreach collection="list" item="criterio"  separator="UNION ALL" >
				   <include refid="selectColonna"></include>
			   </foreach>

	</select>

	<select id="calcolaDataRimanenza" parameterType="it.exolab.prospetto.dto.GiacenzaDTO" resultType="it.exolab.prospetto.dto.CriterioRicerca">

			<foreach collection="list" item="giacenza"  separator="UNION ALL">
				<include refid="selectDataRimanenza"/>
			</foreach>

	</select>

	<select id="getGiacenze" parameterType="String" resultType="it.exolab.prospetto.dto.GiacenzaDTO">

				select
				WURT1_COD_ACC AS codiceAccisa,
				WURT1_GIACENZA AS idGiacenza,
				WURT1_TIPO_GIACENZA as tipoGiacenza,
				WURT1_DESCR_PROD as descGiacenza,
				WURT1_DT_GIAC_INIZ as dataGiacenzaIniziale
				from WURT1_GIACENZE_CL
				where WURT1_COD_ACC = #{codiceAccise}
				and WURT1_DT_GIAC_INIZ is not null
				order by WURT1_TIPO_GIACENZA

	</select>

	<select id="verificaCompetenzaDitta" parameterType="it.exolab.prospetto.dto.CriterioRicerca" resultType="it.exolab.prospetto.dto.VerificaDittaDTO">

		<foreach collection="list" item="item" separator="UNION ALL">
			SELECT *
			FROM
				<include refid="competenzaDitta"/>
				<include refid="infoWDB03_RESPONSE_CL"/>
		</foreach>

	</select>

	<select id="verificaStatoAnnullato" parameterType="it.exolab.prospetto.dto.CriterioRicerca" resultType="int">

		select count(*)
		from AIDA.WUMWS_RIEPILOGO_CL t
		where t.cod_ditta = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
		  and t.dichiarante = #{piva, javaType=String, jdbcType=VARCHAR}
		  and t.anno_esercizio = #{anno, javaType=Integer, jdbcType=INTEGER}
		  and t.stato in (3, 9)

	</select>

	<select id="getTelelivelli" parameterType="String" resultType="String">
		select t.wurt0_telemisure as stato
		from WURT0_REGTEL_CL t
		where t.wurt0_cod_acc = #{codiceAccisa, javaType=String, jdbcType=VARCHAR}
	</select>

	<sql id="selectDataRimanenza">

		<if test="giacenza.tipoGiacenza.equals('O') || giacenza.tipoGiacenza.equals('G')">
			select MIN(wurt1_dt_giac_iniz)   as   dataGiacenzaIniziale,
		</if>
		<if test="!giacenza.tipoGiacenza.equals('O') and !giacenza.tipoGiacenza.equals('G')">
			select wurt1_dt_giac_iniz   as   dataGiacenzaIniziale,
		</if>
		wurt1_giacenza as idGiacenza,
		wurt1_tipo_giacenza as tipoGiacenza
		from WURT1_GIACENZE_CL
		where wurt1_cod_acc = #{giacenza.codiceAccisa, javaType=String, jdbcType=VARCHAR}
		and  wurt1_giacenza =  #{giacenza.idGiacenza, javaType=String, jdbcType=VARCHAR}
		and wurt1_dt_giac_iniz <![CDATA[ <= ]]> SYSDATE
	</sql>

	<sql id="selectColonna">

		 SELECT *
		 FROM
			 <include refid="getRimanenza"/>
			 <include refid="getIntrodotto"/>
			 <include refid="getEccedenze1"/>
			 <include refid="getEccedenze2"/>
			 <include refid="getEccedenze3"/>
			 <include refid="getEccedenze4"/>
			 <include refid="getErogato"/>
			 <include refid="getCali1"/>
			 <include refid="getCali2"/>
			 <include refid="getCali3"/>
			 <include refid="getCali4"/>
			 <include refid="getCali4"/>

	</sql>

	<sql id="getRimanenza">
		(select 	decode((mov.qta_lt_carbur), null, 0, (mov.qta_lt_carbur)) as rimanenza
		 from AIDA.wumws_giacenze_cl mov
		 where mov.cod_ditta = #{criterio.codiceAccisa, javaType=String, jdbcType=VARCHAR}
		   and mov.data_riferimento =
			   (SELECT MAX(TRUNC(t.data_riferimento))
				from AIDA.wumws_giacenze_cl t
				where t.cod_ditta = mov.cod_ditta
				  AND t.ID_GIACENZA = mov.ID_GIACENZA
				  AND TRUNC(t.DATA_RIFERIMENTO) <![CDATA[ <= ]]> TO_DATE(#{criterio.dataRiferimento, javaType=String, jdbcType=VARCHAR},'dd/mm/yyyy'))
		   AND mov.COD_FISC = 'CALCOLATA'
		   and mov.ID_GIACENZA = #{criterio.idGiacenza, javaType=String, jdbcType=VARCHAR}
		) rimanenza
	</sql>

	<sql id="getIntrodotto">
		,
		<include refid="condizioniSelectCarico"/> AS introdotto
		FROM AIDA.wumws_carico_cl u
		WHERE u.cod_ditta = #{criterio.codiceAccisa, javaType=String, jdbcType=VARCHAR}
		AND u.id_giacenza = #{criterio.idGiacenza, javaType=String, jdbcType=VARCHAR}
		AND u.ID_FLUSSO IN
		(SELECT S.ID_FLUSSO
		FROM AIDA.WUMWS_GUIDA_CL S
		WHERE S.COD_DITTA = u.cod_ditta
		AND S.CF_DICHIARANTE = #{criterio.piva, javaType=String, jdbcType=VARCHAR}
		)
		AND u.stato_mov NOT IN ('9', '1')
		AND u.data_riferimento between
		to_date(#{criterio.dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		and to_date(#{criterio.dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		AND u.tipo_rich = 'I'
		AND u.tipo_carico in ('2','4','9')
		) introdotto
	</sql>

	<sql id="getEccedenze1">
		,
		<include refid="condizioniSelectCarico"/> AS eccedenzeAnnotate1
		FROM AIDA.wumws_carico_cl u
		WHERE u.cod_ditta = #{criterio.codiceAccisa, javaType=String, jdbcType=VARCHAR}
		AND u.id_giacenza = #{criterio.idGiacenza, javaType=String, jdbcType=VARCHAR}
		AND u.ID_FLUSSO IN (
		SELECT S.ID_FLUSSO
		FROM AIDA.WUMWS_GUIDA_CL S
		WHERE S.COD_DITTA = u.cod_ditta
		AND S.CF_DICHIARANTE = #{criterio.piva, javaType=String, jdbcType=VARCHAR}
		)
		AND u.stato_mov NOT IN ('9', '1')
		AND u.data_riferimento between
		to_date(#{criterio.dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		and to_date(#{criterio.dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		AND u.tipo_rich = 'I'
		AND u.tipo_carico = '3'
		) eccedenze1
	</sql>

	<sql id="getEccedenze2">
		,
		<include refid="condizioniSelectCarico"/> AS eccedenzeAnnotate2
		FROM AIDA.wumws_carico_cl u
		WHERE u.cod_ditta = #{criterio.codiceAccisa, javaType=String, jdbcType=VARCHAR}
		AND u.id_giacenza = #{criterio.idGiacenza, javaType=String, jdbcType=VARCHAR}
		AND u.ID_FLUSSO IN (
		SELECT S.ID_FLUSSO
		FROM AIDA.WUMWS_GUIDA_CL S
		WHERE S.COD_DITTA = u.cod_ditta
		AND S.CF_DICHIARANTE = #{criterio.piva, javaType=String, jdbcType=VARCHAR}
		)
		AND u.stato_mov NOT IN ('9', '1')
		AND u.data_riferimento between
		to_date(#{criterio.dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		and to_date(#{criterio.dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		AND u.tipo_rich = 'I'
		AND u.tipo_carico = '1'
		) eccedenze2
	</sql>

	<sql id="getEccedenze3">
		,
		<include refid="condizioniSelectCarico"/> AS eccedenzeAnnotate3
		FROM AIDA.wumws_carico_cl u
		WHERE u.cod_ditta = #{criterio.codiceAccisa, javaType=String, jdbcType=VARCHAR}
		AND u.id_giacenza = #{criterio.idGiacenza, javaType=String, jdbcType=VARCHAR}
		AND u.ID_FLUSSO IN (
		SELECT S.ID_FLUSSO
		FROM AIDA.WUMWS_GUIDA_CL S
		WHERE S.COD_DITTA = u.cod_ditta
		AND S.CF_DICHIARANTE = #{criterio.piva, javaType=String, jdbcType=VARCHAR}
		and s.TIPO_ESITO='P')
		and exists
		(select 1
		from wumws_giornalieri_cl x
		where x.cod_ditta = u.cod_ditta
		and x.data_riferimento >= u.data_riferimento
		and x.data_riferimento between to_date(#{criterio.dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy') and
		to_date(#{criterio.dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		and x.num_mov_tot = 1
		and x.id_flusso IN (SELECT y.ID_FLUSSO
		FROM AIDA.WUMWS_GUIDA_CL y
		WHERE y.COD_DITTA = u.cod_ditta
		AND y.CF_DICHIARANTE <![CDATA[ <> ]]> #{criterio.piva, javaType=String, jdbcType=VARCHAR}
		and y.TIPO_ESITO = 'P'))
		AND u.stato_mov NOT IN ('9', '1')
		AND u.data_riferimento between
		to_date(#{criterio.dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		and to_date(#{criterio.dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		AND u.tipo_rich = 'I'
		AND u.tipo_carico = '0'
		) eccedenze3

	</sql>

	<sql id="getEccedenze4">
		,
		<include refid="condizioniSelectCarico"/> AS eccedenzeAnnotate4
		FROM AIDA.wumws_carico_cl u
		WHERE u.cod_ditta = #{criterio.codiceAccisa, javaType=String, jdbcType=VARCHAR}
		AND u.id_giacenza = #{criterio.idGiacenza, javaType=String, jdbcType=VARCHAR}
		AND u.ID_FLUSSO IN (
		SELECT S.ID_FLUSSO
		FROM AIDA.WUMWS_GUIDA_CL S
		WHERE S.COD_DITTA = u.cod_ditta
		AND S.CF_DICHIARANTE = #{criterio.piva, javaType=String, jdbcType=VARCHAR}
		)
		AND u.stato_mov NOT IN ('9', '1')
		AND u.data_riferimento between
		to_date(#{criterio.dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		and to_date(#{criterio.dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		AND u.tipo_rich = 'I'
		AND u.tipo_carico = '5'
		)eccedenze4

	</sql>

	<sql id="getErogato">
		,
		<include refid="condizioniSelectScarico"/> AS erogato
		FROM AIDA.wumws_scarico_cl u
		WHERE u.cod_ditta = #{criterio.codiceAccisa, javaType=String, jdbcType=VARCHAR}
		AND u.id_giacenza = #{criterio.idGiacenza, javaType=String, jdbcType=VARCHAR}
		AND u.ID_FLUSSO IN
		(SELECT S.ID_FLUSSO
		FROM AIDA.WUMWS_GUIDA_CL S
		WHERE S.COD_DITTA = u.cod_ditta
		AND S.CF_DICHIARANTE = #{criterio.piva, javaType=String, jdbcType=VARCHAR}
		)
		AND u.stato_mov NOT IN ('9', '1')
		AND u.data_riferimento between
		to_date(#{criterio.dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		and to_date(#{criterio.dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		AND u.tipo_rich = 'I'
		AND u.tipo_scarico in ('1','2','3','6','9')
		)errogato

	</sql>

	<sql id="getCaliAnnotati1">
		,
		<include refid="condizioniSelectScarico"/> AS caliAnnotati1
		FROM AIDA.wumws_scarico_cl u
		WHERE u.cod_ditta = #{criterio.codiceAccisa, javaType=String, jdbcType=VARCHAR}
		AND u.id_giacenza = #{criterio.idGiacenza, javaType=String, jdbcType=VARCHAR}
		AND u.ID_FLUSSO IN (
		SELECT S.ID_FLUSSO
		FROM AIDA.WUMWS_GUIDA_CL S
		WHERE S.COD_DITTA = u.cod_ditta
		AND S.CF_DICHIARANTE = #{criterio.piva, javaType=String, jdbcType=VARCHAR}
		)
		AND u.stato_mov NOT IN ('9', '1')
		AND u.data_riferimento between
		to_date(#{criterio.dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		and to_date(#{criterio.dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		AND u.tipo_rich = 'I'
		AND u.tipo_scarico = '4'
		)cali1

	</sql>

	<sql id="getCaliAnnotati2">
		,
		<include refid="condizioniSelectScarico"/> AS caliAnnotati2
		FROM AIDA.wumws_scarico_cl u
		WHERE u.cod_ditta = #{criterio.codiceAccisa, javaType=String, jdbcType=VARCHAR}
		AND u.id_giacenza = #{criterio.idGiacenza, javaType=String, jdbcType=VARCHAR}
		AND u.ID_FLUSSO IN (
		SELECT S.ID_FLUSSO
		FROM AIDA.WUMWS_GUIDA_CL S
		WHERE S.COD_DITTA = u.cod_ditta
		AND S.CF_DICHIARANTE = #{criterio.piva, javaType=String, jdbcType=VARCHAR}
		)
		AND u.stato_mov NOT IN ('9', '1')
		AND u.data_riferimento between
		to_date(#{criterio.dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		and to_date(#{criterio.dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		AND u.tipo_rich = 'I'
		AND u.tipo_scarico = '5'
		)cali2
	</sql>

	<sql id="getCaliAnnotati3">
		,
		<include refid="condizioniSelectScarico"/> AS caliAnnotati3
		FROM AIDA.WUMWS_scarico_cl u
		WHERE u.cod_ditta = #{criterio.codiceAccisa, javaType=String, jdbcType=VARCHAR}
		AND u.id_giacenza = #{criterio.idGiacenza, javaType=String, jdbcType=VARCHAR}
		AND u.ID_FLUSSO IN (
		SELECT S.ID_FLUSSO
		FROM AIDA.WUMWS_GUIDA_CL S
		WHERE S.COD_DITTA = u.cod_ditta
		AND S.CF_DICHIARANTE = #{criterio.piva, javaType=String, jdbcType=VARCHAR}
		and s.TIPO_ESITO='P')
		and exists
		(select 1
		from wumws_giornalieri_cl x
		where x.cod_ditta = u.cod_ditta
		and x.data_riferimento >= u.data_riferimento
		and x.data_riferimento between to_date(#{criterio.dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy') and
		to_date(#{criterio.dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		and x.num_mov_tot = 1
		and x.id_flusso IN (SELECT y.ID_FLUSSO
		FROM AIDA.WUMWS_GUIDA_CL y
		WHERE y.COD_DITTA = u.cod_ditta
		AND y.CF_DICHIARANTE <![CDATA[ <> ]]> #{criterio.piva, javaType=String, jdbcType=VARCHAR}
		and y.TIPO_ESITO = 'P'))
		AND u.stato_mov NOT IN ('9', '1')
		AND u.data_riferimento between
		to_date(#{criterio.dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		and to_date(#{criterio.dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		AND u.tipo_rich = 'I'
		AND u.tipo_scarico = '0'
		)cali3

	</sql>

	<sql id="getCaliAnnotati4">
		,
		<include refid="condizioniSelectScarico"/> AS caliAnnotati4
		FROM AIDA.WUMWS_scarico_cl u
		WHERE u.cod_ditta = #{criterio.codiceAccisa, javaType=String, jdbcType=VARCHAR}
		AND u.id_giacenza = #{criterio.idGiacenza, javaType=String, jdbcType=VARCHAR}
		AND u.ID_FLUSSO IN (
		SELECT S.ID_FLUSSO
		FROM AIDA.WUMWS_GUIDA_CL S
		WHERE S.COD_DITTA = u.cod_ditta
		AND S.CF_DICHIARANTE = #{criterio.piva, javaType=String, jdbcType=VARCHAR}
		)
		AND u.stato_mov NOT IN ('9', '1')
		AND u.data_riferimento between
		to_date(#{criterio.dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		and to_date(#{criterio.dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		AND u.tipo_rich = 'I'
		AND u.tipo_scarico = '7'
		) cali4

	</sql>

	<sql id="getRimanenzaContabile">
		,
		<if test='criterio..tipoGiacenza.equals("O")'>
			(
			SELECT decode((mov.qta_kg), null, 0, (mov.qta_kg)) AS rimanenzaContabile
		</if>
		<if test='!criterio..tipoGiacenza.equals("O")'>
			(
			SELECT decode((mov.qta_lt_carbur), null, 0, (mov.qta_lt_carbur)) AS rimanenzaContabile
		</if>
		FROM AIDA.WUMWS_giacenze_cl mov
		WHERE mov.cod_ditta = #{criterio.codiceAccisa, javaType=String, jdbcType=VARCHAR}
		AND mov.data_riferimento =
		(SELECT MAX(TRUNC(t.data_riferimento))
		FROM AIDA.WUMWS_giacenze_cl t
		WHERE t.cod_ditta = mov.cod_ditta
		AND t.ID_GIACENZA = mov.ID_GIACENZA
		AND TRUNC(t.DATA_RIFERIMENTO) BETWEEN to_date(#{criterio.dataInvioDa, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy')
		AND to_date(#{criterio.dataInvioA, javaType=String, jdbcType=VARCHAR}, 'dd/mm/yyyy'))
		AND COD_FISC = 'CALCOLATA'
		AND mov.ID_GIACENZA = #{criterio.idGiacenza, javaType=String, jdbcType=VARCHAR}
		AND ID_FLUSSO IN (SELECT S.ID_FLUSSO
		FROM AIDA.WUMWS_GUIDA_CL S
		WHERE S.COD_DITTA = #{criterio.codiceAccisa, javaType=String, jdbcType=VARCHAR}
		AND S.CF_DICHIARANTE = #{criterio.piva, javaType=String, jdbcType=VARCHAR}
		AND s.TIPO_ESITO='P'
		AND exists (SELECT 1 FROM wumws_giornalieri_cl x
		WHERE x.cod_ditta=s.cod_ditta
		AND x.id_flusso=s.id_flusso
		AND x.num_mov_tot=1)
		)
		)rimanenzaContabile

	</sql>

	<sql id="condizioniSelectCarico">

		<if test='criterio..tipoGiacenza.equals("O")'>
			(
			SELECT nvl(SUM(u.qta_kg),null)
		</if>
		<if test='!criterio..tipoGiacenza.equals("O")'>
			(
			SELECT nvl(SUM(u.qta_lt_carbur),null)
		</if>

	</sql>

	<sql id="condizioniSelectScarico">

		<if test='criterio..tipoGiacenza.equals("O")'>
			(
			SELECT nvl(SUM(u.qta_kg),null)
		</if>
		<if test='!criterio..tipoGiacenza.equals("O")'>
			(
			SELECT nvl(SUM(u.qta_lt),null)
		</if>

	</sql>

	<sql id="competenzaDitta">
		(SELECT COUNT(WDB03_RESPONS_CL.WDB03_COD_DITTA) as checkDitta
		FROM WDB03_RESPONS_CL,
			 wdb01_deposit_cl t
		WHERE t.wdb01_cod_ditta = WDB03_RESPONS_CL.WDB03_COD_DITTA
		  AND t.wdb01_set_imp = 'O'
		  AND WDB03_RESPONS_CL.WDB03_WDB02_PIVA = #{item.piva}
		  AND WDB03_RESPONS_CL.WDB03_WDB02_PIVA in
			  (SELECT s.WDB03_WDB02_PIVA as partitaIva
			   FROM aida.WDB03_RESPONS_CL s
			   WHERE s.WDB03_COD_DITTA = #{item.codiceAccisa}
				 AND s.WDB03_ATTIVO = 0
				 AND s.WDB03_TIPO_SOGG = (SELECT MAX(WDB03_TIPO_SOGG)
										  FROM aida.WDB03_RESPONS_CL t
										  WHERE t.WDB03_COD_DITTA = #{item.codiceAccisa}
											AND trunc(t.wdb03_data_mod) = trunc(s.wdb03_data_mod)
											AND t.WDB03_ATTIVO = 0)
			   UNION
			   SELECT s.WDB03_WDB02_PIVA as partitaIva
			   FROM aida.WDB03_RESPONS_CL_s s
			   WHERE s.WDB03_COD_DITTA = #{item.codiceAccisa}
				 AND s.WDB03_ATTIVO = 0
				 AND s.WDB03_TIPO_SOGG = (SELECT MAX(WDB03_TIPO_SOGG)
										  FROM aida.WDB03_RESPONS_CL_s t
										  WHERE t.WDB03_COD_DITTA = #{item.codiceAccisa}
											AND trunc(t.wdb03_data_mod) = trunc(s.wdb03_data_mod)
											AND t.WDB03_ATTIVO = 0)))AS checkDitta,
	</sql>

	<sql id="infoWDB03_RESPONSE_CL">
		(
			SELECT distinct WDB03_COD_DITTA AS codiceDitta,
							WDB03_WDB02_PIVA AS piva
			FROM WDB03_RESPONS_CL_s
			WHERE WDB03_COD_DITTA=#{item.codiceAccisa}
			AND WDB03_WDB02_PIVA =#{item.piva} )codiceDitta
	</sql>
</mapper>